# General
config.sh

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# RKE
*.rkestate
kube_config_cluster.yml
cluster.yml

# SSH
testkey
testkey.pub

# Helm
deploy